<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Go Here</a>
        <a href="#">Or Here</a>
        <a href="#">Not Here</a>
        <a href="#">Here</a>
      </nav>
    </header>
    <div class="container">
      {{{yield}}}
    </div>
    <footer>Made in Georgia!</footer>
  </body>
</html>
